[submodule "plugins/alias-tips"]
	path = plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "plugins/smart-cd"]
	path = plugins/smart-cd
	url = git@github.com:dbkaplun/smart-cd.git
